<section class="containerbox">
  <p class="logotext">netronk</p>
</section>

<style lang="css">
  @reference "~styles/global.css";

  section.containerbox {
    @apply w-full px-4 pt-8 md:pt-12;
  }

  p.logotext {
    background: linear-gradient(180deg, #676666, #333232);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 100;
    font-family: "Idlewild", sans-serif;
    font-size: max(7vw, min(7vw, 16vw));
    line-height: 1.5;
    letter-spacing: 0.01em;
    position: relative;
    text-align: start;
  }
</style>
