---
import Layout from "~layouts/Layout.astro";
---

<Layout title="404" description="Page not found">
  <main
    class="mx-auto flex w-full max-w-6xl items-center justify-center px-4 py-4 md:px-8 md:py-16"
  >
    <h1 class="text-lg tracking-widest text-black uppercase md:text-xl">
      404 - Sorry Page Not Found
    </h1>
  </main>
</Layout>
