---
export const prerender = true;

import { getCollection, render } from "astro:content";
import Layout from "~layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("legal");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={`${post.data.title}`} description={`${post.data.description}`}>
  <main
    class="mx-auto grid w-full max-w-6xl grid-cols-3 px-4 py-4 md:px-8 md:py-16"
  >
    <article class="prose col-span-2 w-full">
      <Content />
    </article>
    <div class="sticky top-0 bg-yellow-200">hbhjcb</div>
  </main>
</Layout>
