<section
  class="flex-col items-center justify-start gap-4 pt-8 md:gap-8 md:pt-16 lg:pt-20 xl:pt-36"
>
  <h1
    class="font-sans text-5xl leading-tight font-extrabold tracking-wide text-balance sm:text-7xl"
  >
    Elevate Your Digital Presence with Netronk.
  </h1>
  <p class="py-4 text-lg text-pretty md:py-8">
    We are a team of passionate developers, designers, and marketers who are
    dedicated to helping you grow your business. <span class="hidden sm:flex"
      >We specialize in creating custom websites, apps, and marketing strategies
      that will help you stand out from the competition.
    </span>
  </p>
</section>
